.filter {
  display: flex;
  padding-right: 100px;
  column-gap: 7px;
  margin-bottom: 25px;

  @media (max-width: 320px) {
    display: flex;
    flex-direction: column;
  }

  &__select {
    width: 25%;

    @media (max-width: 320px) {
      width: 150%;
    }
  }
}
